<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <!--添加用户-->
    <insert id="addUser" resultType="int" paramterType="com.lagou.pojo.User">
        INSERT INTO user (username,password,birthday) VALUES (#{username},#{password},#{birthday})
    </insert>

    <!--更新用户-->
    <update  id="updateUser" paramterType="com.lagou.pojo.User">
        UPDATE user SET username=#{username} WHERE id=#{id}
    </update>



</mapper>